<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>sprii-app-deploy job</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.4.2">
          <name>sprii_package</name>
          <description></description>
          <editable>false</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.SystemGroovyChoiceListProvider">
            <groovyScript plugin="script-security@1.41">
              <script>def proc = &quot;aws s3 ls s3://php-app-packages/&quot;.execute()
def Items = []

proc.in.eachLine {line -&gt;
               
Items.add(line.split()[3])
}

return Items</script>
              <sandbox>false</sandbox>
            </groovyScript>
            <usePredefinedVariables>false</usePredefinedVariables>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://bitbucket.org/chathuranga50/sprii.com.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_FORCE_COLOR=true
export AWS_ACCESS_KEY_ID=&apos;AKIAJSVVVWSRENDH6ACQ&apos;
export AWS_SECRET_ACCESS_KEY=&apos;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&apos;

cd $WORKSPACE
chmod 600 ./AWS_Test.pem

/usr/local/bin/ansible-playbook -i /etc/ansible/ec2.py sprii-app-deploy.yml --private-key=./AWS_Test.pem --extra-vars &quot;rpm_file=$sprii_package&quot; --limit tag_Name_PHP_Static_APP -v
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>echo $sprii_package &gt; /tmp/latest_package.txt
aws s3 cp /tmp/latest_package.txt s3://php-app-packages/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>sprii-app-deploy-scale</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>