<?xml version="1.1" encoding="UTF-8"?><project>
  <actions/>
  <description>Build sprii application package</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VERSION</name>
          <description/>
          <defaultValue>1.0</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/chaturanga50/php-sample.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo "building package"</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>/var/lib/jenkins/custom_scripts/rpm_build_push.sh \
--specfile /var/lib/jenkins/custom_scripts/sprii-app.spec \
--topdir /tmp/topdir/$JOBNAME \
--sourcedir $WORKSPACE \
--suffix sprii-frontend \
--version $VERSION \
--versionfile $WORKSPACE/build.txt \
--release $BUILD_NUMBER \
--repository {{ s3_bucket }}</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>