<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>sprii-app-deploy job</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.8.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://bitbucket.org/chathuranga50/sprii.com.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>aws s3 cp s3://php-app-packages/latest_package.txt /tmp/latest_package.txt
sprii_package=$(cat /tmp/latest_package.txt)

export ANSIBLE_HOST_KEY_CHECKING=False
export ANSIBLE_FORCE_COLOR=true
export AWS_ACCESS_KEY_ID=&apos;AKIAJSVVVWSRENDH6ACQ&apos;
export AWS_SECRET_ACCESS_KEY=&apos;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&apos;

cd $WORKSPACE
chmod 600 ./AWS_Test.pem

/usr/local/bin/ansible-playbook -i /etc/ansible/ec2.py sprii-ec2-init-scale-apps.yml --private-key=./AWS_Test.pem --extra-vars &quot;rpm_file=$sprii_package&quot; --limit tag_Name_PHP_Scale_APP -v
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
